In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier, VotingClassifier
from sklearn.tree import DecisionTreeClassifier
import re
import string

In [2]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [3]:
df_fake=df_fake.head(1000)
df_fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
995,GOP Rep. Wants A $30k A Year Housing Allowanc...,"Not long ago, Rep. Jason Chaffetz (R-Utah), sa...",News,"June 28, 2017"
996,Brace Yourself For 74 Percent Higher Health C...,"According to a new report, health insurance pr...",News,"June 27, 2017"
997,Grandma Will Have To Pay More Than $20k A Yea...,The Congressional Budget Office released their...,News,"June 27, 2017"
998,The Absolutely Cringeworthy Moment Trump Trie...,Donald Trump was in a room full of Irish repor...,News,"June 27, 2017"
999,A Fed Up Reporter Just Stood Up To Sarah Huck...,Donald Trump s war on the free press just ente...,News,"June 27, 2017"

In [4]:
df_true=df_true.head(1000)
df_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
995,House panels seek documents on Puerto Rico uti...,WASHINGTON (Reuters) - A U.S. congressional co...,politicsNews,"October 26, 2017"
996,"Trump releases some JFK files, blocks others u...",WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"October 26, 2017"
997,Tillerson tells Myanmar army chief U.S. concer...,WASHINGTON (Reuters) - U.S. Secretary of State...,politicsNews,"October 27, 2017"
998,"Exclusive: While advising Trump in 2016, ex-CI...",WASHINGTON (Reuters) - Former CIA director Jam...,politicsNews,"October 26, 2017"
999,Mattis visits Seoul for defense talks as tensi...,SEOUL (Reuters) - U.S. Defense Secretary Jim M...,politicsNews,"October 27, 2017"

In [5]:
df_fake["class"] = 0
df_true["class"] = 1

In [6]:
df_fake.shape, df_true.shape

((1000, 5), (1000, 5))

In [7]:
df_merge = pd.concat([df_fake, df_true], axis =0 )
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [8]:
df = df_merge.drop(["title", "subject","date"], axis = 1)

In [9]:
df = df.sample(frac = 1)

In [10]:
df.head()

                                                  text  class
736  Because today ends in a Y, Donald Trump took t...      0
174  With news circulating that Robert Mueller will...      0
438  Donald Trump s decision to end the Deferred Ac...      0
190  GADSDEN, Ala. (Reuters) - In a U.S. Senate rac...      1
166  (Reuters) - Republicans in the U.S. Congress r...      1

In [11]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [12]:
df.columns

Index(['text', 'class'], dtype='object')

In [13]:
df.head()

                                                text  class
0  Because today ends in a Y, Donald Trump took t...      0
1  With news circulating that Robert Mueller will...      0
2  Donald Trump s decision to end the Deferred Ac...      0
3  GADSDEN, Ala. (Reuters) - In a U.S. Senate rac...      1
4  (Reuters) - Republicans in the U.S. Congress r...      1

In [14]:
df.to_csv('finaldataset.csv',index=False)

In [15]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

<>:3: SyntaxWarning: invalid escape sequence '\['
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\w'
<>:3: SyntaxWarning: invalid escape sequence '\['
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\w'
C:\Users\RESHMA\AppData\Local\Temp\ipykernel_5172\3432647204.py:3: SyntaxWarning: invalid escape sequence '\['
  text = re.sub('\[.*?\]', '', text)
C:\Users\RESHMA\AppData\Local\Temp\ipykernel_5172\3432647204.py:5: SyntaxWarning: invalid escape sequence '\S'
  text = re.sub('https?://\S+|www\.\S+', '', text)
C:\Users\RESHMA\AppData\Local\Temp\ipykernel_5172\3432647204.py:9: SyntaxWarning: invalid escape sequence '\w'
  text = re.sub('\w*\d\w*', '', text)

In [16]:
df["text"] = df["text"].apply(wordopt)

In [17]:
x = df["text"]
y = df["class"]

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [20]:
import pickle
with open('tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(vectorization, f)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report
knn = KNeighborsClassifier(n_neighbors=5)
gb = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
dt = DecisionTreeClassifier(max_depth=5, random_state=42)
ensemble = VotingClassifier(estimators=[
    ('knn', knn),
    ('gb', gb),
    ('dt', dt)
], voting='hard')

ensemble.fit(xv_train, y_train)
ensemble_pred = ensemble.predict(xv_test)


print("\nEnsemble Accuracy:", accuracy_score(y_test, ensemble_pred))

In [ ]:
with open('voting_classifier.pkl', 'wb') as f:
    pickle.dump(ensemble, f)

In [ ]:
with open('tfidf_vectorizer.pkl', 'rb') as f:
    loaded_vectorizer = pickle.load(f)

In [ ]:
with open('voting_classifier.pkl', 'rb') as f:
    loaded_ensemble = pickle.load(f)

In [ ]:
data="Nice information it is very good product"
info=[wordopt(data)]
xv_test = loaded_vectorizer.transform(info)
ensemble_pred = loaded_ensemble.predict(xv_test)

In [ ]:
ensemble_pred